In [1]:
import poisson_atac as patac

Global seed set to 0

In [2]:
adata = patac.data.load_neurips(only_train=False, convert_counts = False)

In [6]:
patac.data.save_for_seurat(adata, outdir='/lustre/groups/ml01/workspace/laura.martens/atac_poisson_data/benchmark/neurips/')

Writing barcodes
Writing peaks
Writing binary matrix
Writing count matrix
Done!

In [2]:
adata = patac.data.load_hematopoiesis(convert_counts = False)

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

In [3]:
patac.data.save_for_seurat(adata, outdir='/lustre/groups/ml01/workspace/laura.martens/atac_poisson_data/benchmark/satpathy/', sep=[('_', ':'), ('_', '-')])

Writing barcodes
Writing peaks
Writing metadata
Writing binary matrix
Writing count matrix
Done!

In [12]:
adata.var

                                           Feature  n_cells
chr1:10238-10738                  chr1_10238_10738      763
chr1:237511-238011              chr1_237511_238011      754
chr1:752456-752956              chr1_752456_752956     2434
chr1:761853-762353              chr1_761853_762353      828
chr1:779762-780262              chr1_779762_780262     1225
...                                            ...      ...
chrX:155196472-155196972  chrX_155196472_155196972     1338
chrX:155227018-155227518  chrX_155227018_155227518     2129
chrX:155229940-155230440  chrX_155229940_155230440      712
chrX:155231135-155231635  chrX_155231135_155231635     3202
chrX:155260029-155260529  chrX_155260029_155260529      841

[134104 rows x 2 columns]